<%- include('partials/header.ejs') %>
  <div class="home-page-container">
    <!-- Carrossel de Filmes em Destaque -->
    <div id="autoplayCarouselFilmesDestaque" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-item-image">
            <img src="img/mocks/gladiador_wallpaper.png" class="d-block w-100" alt="Wallpaper do Filme" width="50px" />
            <div class="carousel-item-button-container">
              <h2>GLADIADOR II</h2>
              <button class="btn btn-light" onClick="location.href='/filme'" style="z-index: 2; position: relative">
                COMPRAR INGRESSO
                <i class="fa-solid fa-caret-right fa-xl" style="color: #000000"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-image">
            <img src="img/mocks/venon_wallpaper.png" class="d-block w-100" alt="Wallpaper do Filme" width="50px" />
            <div class="carousel-item-button-container">
              <h2>VENOM: A ÚLTIMA RODADA</h2>
              <button class="btn btn-light" style="z-index: 2; position: relative">
                COMPRAR INGRESSO
                <i class="fa-solid fa-caret-right fa-xl" style="color: #000000"></i>
              </button>
            </div>
          </div>
          </a>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-image">
            <img src="img/mocks/operacaonatal_wallpaper.png" class="d-block w-100" alt="Wallpaper do Filme"
              width="50px" />
            <div class="carousel-item-button-container">
              <h2>OPERAÇÃO NATAL</h2>
              <button class="btn btn-light carousel-item-button" style="z-index: 2; position: relative">
                COMPRAR INGRESSO
                <i class="fa-solid fa-caret-right fa-xl" style="color: #000000"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#autoplayCarouselFilmesDestaque"
        data-bs-slide="prev" style="z-index: 1">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" id="carousel-filmes-destaque-control-next" type="button"
        data-bs-target="#autoplayCarouselFilmesDestaque" data-bs-slide="next" style="z-index: 1">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Lista Filmes -->
    <div id="lista-filmes-container">
      <div class="lista-filmes-header">
        <h3>PROGRAMAÇÃO</h3>
        <div class="lista-filmes-buttons-container">
          <div class="lista-filmes-btn-navegacao">
            <a href="/novoFilme" style="color: #FFF;">
              <i class="fa-solid fa-plus fa-xl"></i>
            </a>
          </div>
          <div id="carousel-lista-filmes-control-prev" class="lista-filmes-btn-prev lista-filmes-btn-navegacao">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div id="carousel-lista-filmes-control-next" class="lista-filmes-btn-next lista-filmes-btn-navegacao">
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <div id="carouselFilmesProgramacao" class="carousel slide">
        <div class="carousel-inner" id="carousel-lista-filmes-inner">
          <% if (filmes.length> 0) { filmes.forEach(filme => { %>
            <div class="carousel-item lista-item-filme active">
              <a href="/filmeInfo/<%= filme.id %>">
                <div class="card" style="width: 18rem">
                  <div class="card-top">
                    <img class="card-img-top" src="img/uploads/<%= filme.poster_image_name%>" />
                  </div>
                  <div class="card-body card-bottom-body">
                    <h5 class="card-title">
                      <%= filme.titulo %>
                    </h5>
                    <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
                      <p>
                        <%= filme.descricao %>
                      </p>
                      <p>
                        <%= filme.ano %>
                      </p>
                    </div>

                  </div>
                </div>
              </a>
            </div>
            <% }) %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselFilmesProgramacao"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselFilmesProgramacao"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <% } else{ %>
                <div class="text-center container" style="
            min-height: 40vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #fff;
          ">
                  <h3 style="font-weight: 700">Sem Filmes Cadastrados</h3>
                  <span>Adicione um novo filme</span>
                </div>
                <% } %>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>